body {
	text-align: center;
	font-family: sans-serif;
	background: black;
	color: white;
}

#guess {
	margin-top: 2em;
	
	border: none;
	border-bottom: solid 1px #333;
	outline: none;
	
	font-size: xx-large;
	font-family: serif;
	
	background: none;
	color: white;
}

/* hack to make the cursor not appear in the middle of the placeholder text */
#guess:valid {
	text-align: center;
}

#guess-button {
	margin: 1em auto 0 auto;
	display: block;
	
	font-size: medium;
	background: black;
	color: #ccc;
}

#clues {
	margin-top: 2em;
}

.win {
	color: #0f0;
}
