body {
	font-family: sans-serif;
	background: black;
	color: white;
	
	text-align: center;
}

#guess {
	background: none;
	color: white;
	
	border: none;
	border-bottom: solid 1px #333;
	outline: none;
	
	margin-top: 2em;
	margin-bottom: 1em;
	
	font-size: xx-large;
	font-family: serif;
}

/* hack to make the cursor not appear in the middle of the placeholder text */
#guess:valid {
	text-align: center;
}

#clues {
	text-align: left;
}
