/* layout & spacing */
body {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}	
#guess {
	margin-top: 2em;
}
#guess-button {
	margin: 1em auto 0 auto;
	display: block;
}
#clues {
	margin-top: 2em;
}
footer {
	position: absolute;
	bottom: .5em;
	width: 100%;
}


/* appearance */

body {
	font-family: sans-serif;
	background: black;
	color: #a9a9a9;
}

input[type='text'] {
	border: none;
	border-bottom: solid 1px #333;
	
	font-size: xx-large;
	font-family: serif;
	
	background: none;
	color: white;
}
input[type='text']:focus {
	outline: none;
}
/* hack to make the cursor not appear in the middle of the placeholder text */
input[type='text']:valid {
	text-align: center;
}

input[type='submit'] {
	font-size: medium;
	border: none;
	border-radius: .35em;
	padding: .3em .5em;
	
	background: #333;
	color: #ccc;
}

.win {
	color: #0f0;
}

em {
	font-style: normal;
	color: white;
}

/* overspecified & !important to override po.st's style */
.pw-widget.pw-widget {
	font-size: 100% !important;
}

/* the Google+ span is oddly too wide by default */
.pw-layout-horizontal .pw-button-googleplus.pw-button-counter-horizontal .pw-button__native {
	width: 58px !important;
}

.star {
	margin-bottom: 1px;
	border: 0;
	width: 100px;
	height: 20px;
}
