body {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	
	font-family: sans-serif;
	background: black;
	color: white;
}

#guess {
	margin-top: 2em;
	
	border: none;
	border-bottom: solid 1px #333;
	outline: none;
	
	font-size: xx-large;
	font-family: serif;
	
	background: none;
	color: white;
}

/* hack to make the cursor not appear in the middle of the placeholder text */
#guess:valid {
	text-align: center;
}

#guess-button {
	margin: 1em auto 0 auto;
	display: block;
	
	font-size: medium;
	border: none;
	border-radius: .35em;
	padding: .3em .5em;
	
	background: #333;
	color: #ccc;
}

#clues {
	margin-top: 2em;
}

.win {
	color: #0f0;
}

.pw-widget {
	position: absolute;
	bottom: .5em;
	width: 100%;
}

/* overspecified & !important to override po.st's style */
div.pw-widget {
	font-size: 100% !important;
}

.pw-layout-horizontal .pw-button-googleplus.pw-button-counter-horizontal .pw-button__native {
	width: 58px !important;
}

.star {
	margin-bottom: 1px;
	border: 0;
	width: 100px;
	height: 20px;
}
